html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.App {
  min-height: 100vh;
  
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
